<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
  <div th:fragment="headSection" id="head-section">
    <div class="d-flex justify-content-center align-items-center text-white">
      <div id="header" class="container text-center ">
        <h3 class="display-4 mb-0">Chase Your Dream</h3>
        <h1 class="display-1">Creative and Teach Training</h1>
        <p class="d-none d-md-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        <button class="btn btn-lg btn-info">Learn More</button>
      </div>
    </div>
  </div>
</body>
</html>